.App {
  text-align: center;
  align-items: center;
}
.block{
  background-color: #282c34;
  width: 500px;
  height: 500px;
  justify-content: center;
}
/* ====================================================================================================== */
@keyframes wipe-enter{
  0% {
    transform: scale(0, .025)
  }
  50%{
    transform: scale(1, 025);
  }
}

@media (prefers-reduced-motion: no-preference){
  .block {
    animation-name: wipe-enter;
    animation-duration: 5s;
    animation-iteration-count: 2;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
